body {
  font-family: 'Fira Sans', sans-serif;
  background: rgba(245, 245, 245, 1);

 
}

nav{
        /* Frame 2 */
    width: 1440px;
    margin: 0 auto;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
    background: rgba(245, 245, 245, 1);

}
.container{width: 1600px;
    height: 100px;
}

.Bangladesh{
        /* Bangladesh 2.0 */
    width: 222px;
    height: 38px;
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    }

.Sign{
        /* Frame 2 */
    width: 116px;
    height: 52px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 30px 15px 30px;

    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-weight: bold;
    color: rgba(0, 106, 80, 1);
    }

    .version-text{
        /* Bangladesh 2.0 */
        width: 622px;
        height: 29px;
        color: rgba(14, 14, 14, 0.5);

        font-family: Fira Sans;
        font-style: Medium;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
.New{
    /* Idea , innovation , vision and challenges in New Bangladesh. */
    width: 622px;
    height: 201px;
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.explore-button{
    /* Frame 2 */
    width: 270px;
    height: 56px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;

    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    border: none;
    color: aliceblue;
    font-weight: bold;


}



.card-container{
  max-width: 1280px;
  height: 560px;
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 80px 100px;
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
  margin: 40px auto;
  
}

.text-section {
  width: 50%;
}

.image-section {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  
}

.monument-image {
  max-width: 100%;
  
}
.card-icon{
  /* Frame 2087325495 */
width: 302px;
height: 244px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 24px;

box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
}

.pillars{
  width: 1440px;
  margin: 0 auto;}

.cards{
  display: flex;
  /* gap: 40px; */
    justify-content: space-between;
}
.m1{
  margin-top: 80px;
}
.m2{
  margin-top: 32px;
}
.m3{
  margin-bottom: 32px;
}

 /* The Vision of Future */
 .Vision{
 
width: 1280px;
height: 48px;
 }

.card-icon1{
  /* Frame 2087325495 */
width: 410.67px;
height: 325px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 32px;

box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);
}
.card-icon2{
  /* Frame 2087325499 */
width: 410.67px;
height: 325px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 32px;

box-sizing: border-box;
border-radius: 16px;
background: rgba(198, 228, 214, 1);
}

.card-icon3{

  /* Frame 2087325500 */
width: 410.67px;
height: 325px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 24px;

box-sizing: border-box;
border-radius: 16px;
background: rgba(247, 235, 207, 1);
}

.btn1{
  /* Frame 2 */
width: 122px;
height: 41px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
color: rgba(255, 255, 255, 1);
border-radius: 8px;
background: rgba(84, 144, 245, 1);
border: none;
}

.btn2{

  /* Frame 2 */
width: 122px;
height: 41px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
color: rgba(255, 255, 255, 1);
border-radius: 8px;
background: rgba(9, 161, 92, 1);
border: none;
  
}

.btn3{
  /* Frame 2 */
width: 122px;
height: 41px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 11px 20px 11px 20px;
color: rgba(255, 255, 255, 1);
border-radius: 8px;
background: rgba(255, 194, 57, 1);
 border: none;
  
}

.Lorem {
  width: 1440px;
  height: 256px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 48px 24px;

  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;

  background-color: #fff;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;

  background-size: 80px;       
  background-position: 24px 48px; 
}

.m4{
  /* Frame 2087325626 */
width: 1232px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 4;

}



.news {
  width: 80%;
  margin: 50px auto;
}

.news h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.intro {
  color: #666;
  margin-bottom: 30px;
}

/* Card */
.news-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  display: flex;          /* ⭐ main magic */
  gap: 30px;
}

/* Image */
.news-img img {
  width: 300px;
  border-radius: 15px;
}

/* Content */
.news-content h3 {
  margin: 0;
}

.source {
  color: #0a8f5c;
  font-weight: bold;
}

.date {
  font-size: 14px;
  color: gray;
}

.desc {
  margin: 15px 0;
  color: #444;
}

button {
  background: #0a8f5c;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}
