body {
  font-family: 'Fira Sans', sans-serif;
  background: rgba(245, 245, 245, 1);
}

nav{
        /* Frame 2 */
    width: 1600px;
    height: 100px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
    background: rgba(245, 245, 245, 1);


}
.Bangladesh{
        /* Bangladesh 2.0 */
    width: 222px;
    height: 38px;
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    }

.Sign{
        /* Frame 2 */
    width: 116px;
    height: 52px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 30px 15px 30px;

    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-weight: bold;
    color: rgba(0, 106, 80, 1);
    }

    .version-text{
        /* Bangladesh 2.0 */
        width: 622px;
        height: 29px;
        color: rgba(14, 14, 14, 0.5);

        font-family: Fira Sans;
        font-style: Medium;
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
.New{
    /* Idea , innovation , vision and challenges in New Bangladesh. */
    width: 622px;
    height: 201px;
    color: rgba(14, 14, 14, 1);

    font-family: Fira Sans;
    font-style: Bold;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.explore-button{
    /* Frame 2 */
    width: 270px;
    height: 56px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;

    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    border: none;
    color: aliceblue;
    font-weight: bold;


}

{
    /* Frame 4 */
width: 1280px;
height: 560px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;

border-radius: 24px;
background: rgba(198, 228, 214, 1);
     
}

.card-container{
  max-width: 1280px;
  height: 560px;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 80px 100px;
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
  margin: 40px auto;
}

.text-section {
  width: 50%;
}

.image-section {
  width: 50%;
  display: flex;
  justify-content: center;
  
}

.monument-image {
  max-width: 100%;
}
